@import url('https://fonts.googleapis.com/css?family=Audiowide');

html, body, ul, li {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #222;
	background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
	height: 100%;
	user-select: none;
}

#chars {
	list-style: none;
	font-family: AudioWide;
	color: #444;
	height: 100%;
}

	#chars li {
		float: left;
		text-align: center;
		font-size: 7vh;
		transition: all 1s ease-in-out;
		transition-property: color, text-shadow;
	}

	@media screen and (orientation:portrait) {
		#chars li {
			font-size: 7vw;
		}
	}

	#chars li.break {
		clear: left;
	}

	.on {
		color:#FFF;
	}

	.theme1 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
	}

	.theme2 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
	}

	.theme3 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
	}

	.theme4 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
	}

	.theme5 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	}

	.theme6 .on {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
